html, body, table, tbody, tr, td, .cell, form, input {
    position: relative;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: separate;
    height: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
body {
    height: 100vh;
    padding-top: 50px;
    background-color: #000021;
}
.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #000021;
    color: white;
    overflow: hidden;
    text-align: center;
}
.fixed-nav-bar-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    width: 100%;
    height: 50px;
    overflow: hidden;
    text-align: right;
    background-color: #000021;
    color: white;
    visibility: hidden;
}
td {
    vertical-align: middle;
}
.cell {
    width: 20vw;
    min-width: 170px;
    overflow: hidden;
}
.hour {
    width: 100%;
    height: 4%;
    position: relative;
    overflow: hidden;
}
.hr8, .hr9, .hr10, .hr11, .hr12, .hr13, .hr14, .hr15, .hr16 {
    color: #1C0A14;
    background-color: #FAD18E;
}
.hr7, .hr17 {
    color: #1C0A14;
    background-color: #C49976;
}
.hr6, .hr18 {
    color: #FAD18E;
    background-color: #7D5656;
}
.hr5, .hr19 {
    color: #FAD18E;
    background-color: #452531;
}
.hr0, .hr1, .hr2, .hr3, .hr4, .hr20, .hr21, .hr22, .hr23 {
    color: #FAD18E;
    background-color: #1C0A14;
}
p {
    line-height: 1;
    position: relative;
    height: 100%;
    white-space: nowrap;
}
.alignleft {
    float: left;
    width: 25%;
    text-align: left;
}
.aligncenter {
    float: left;
    width: 50%;
    text-align: center;
}
.alignright {
    float: left;
    width: 25%;
    text-align: right;
}
​ form {
    height: 100%;
    float: right;
}
input {
    color: white;
    background-color: transparent;
    height: 50px;
    border: none;
    font-size: 15px;
    padding-right: 10px;
}